@page
@model Bibliotheque.Pages.Admin.Book.EditModel
@{
}


<form method="post" enctype="multipart/form-data">
    <div class="row">
        <input hidden asp-for="Book.Id" />
        <div class="col-lg-4">
            <label asp-for="Book.Preface" class="control-label"></label>
            <img class="img-fluid border ml-1 mr-1" src="/api/book/preface/@Model.Book.Id" />
            <div class="col align-self-baseline">
                <input type="file" runat="server" name="file" id="preface" class="form-control" />
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label asp-for="Book.Title" class="control-label"></label>
                <input asp-for="Book.Title" class="form-control" />
                <span asp-validation-for="Book.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Author" class="control-label"></label>
                <input asp-for="Book.Author" class="form-control" />
                <span asp-validation-for="Book.Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Summary" class="control-label"></label>
                <textarea asp-for="Book.Summary" class="form-control"></textarea>
                <span asp-validation-for="Book.Summary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.ReleaseDate" class="control-label"></label>
                <input type="date" asp-for="Book.ReleaseDate" class="form-control" />
                <span asp-validation-for="Book.ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Editor" class="control-label"></label>
                <input asp-for="Book.Editor" class="form-control" />
                <span asp-validation-for="Book.Editor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Format" class="control-label"></label>
                <input asp-for="Book.Format" class="form-control" list="formats" />
                <span asp-validation-for="Book.Format" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label asp-for="Book.Pages" class="control-label"></label>
                <input asp-for="Book.Pages" class="form-control" />
                <span asp-validation-for="Book.Pages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.EAN" class="control-label"></label>
                <input asp-for="Book.EAN" class="form-control" />
                <span asp-validation-for="Book.EAN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.ISBN" class="control-label"></label>
                <input asp-for="Book.ISBN" class="form-control" />
                <span asp-validation-for="Book.ISBN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.CategoryId" class="control-label"></label>
                <div class="input-group mb-3">
                    <select id="categoriesOptions" asp-for="Book.CategoryId" class="form-control"></select>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" onclick="showModal(null)"><i class="fas fa-edit"></i></button>
                    </div>
                </div>
            </div>
            <input hidden asp-for="Book.Genres" />
        </div>
    </div>
    <div class="row">
        <h3>Genres :</h3>
    </div>
    <div class="input-group form-group">
        <select asp-items="@Model.AvailableGenres" asp-for="SelectedGenreId" class="form-control"></select>
        <div class="input-group-append">
            <button type="submit" class="btn btn-outline-secondary" asp-page-handler="AddGenre">Ajouter</button>
            <a asp-page="CreateGenre" class="btn btn-outline-secondary">Créer</a>
            <button class="btn btn-outline-secondary" asp-page-handler="UpdateGenre">Modifier</button>
        </div>
    </div>
    <div class="row form-group">
        @if (Model.Book.Genres.Count == 0)
        {
            <p>Aucun genre n'est associé à ce livre.</p>
        }
        else
        {
            <table class="table table-striped border">
                <thead>
                    <tr>
                        <th scope="col">
                            ID
                        </th>
                        <th scope="col">
                            Nom
                        </th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var genre in Model.Book.Genres)
                    {
                        <tr>
                            <td>@genre.Id</td>
                            <td>@genre.Name</td>
                            <td>
                                <a asp-page="UpdateGenre" asp-route-id="@genre.Id" class="btn btn-success btn-sm text-white">Edit</a>
                                <button asp-page-handler="DeleteGenre" asp-route-id="@genre.Id" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure ?')">Delete</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    <div class="row">
        <h3>Copies</h3>
    </div>

    <div class="input-group form-group">
        <div class="input-group-append">
            <a type="submit" class="btn btn-outline-secondary" asp-page="CreateState" asp-route-id="@Model.Book.Id">Ajouter une copie</a>
        </div>
    </div>

    <div class="row">
        @if (Model.BookCopies.Count == 0)
        {
            <p>Aucune copie n'est associé à ce livre.</p>
        }
        else
        {
            <table class="table table-striped border">
                <thead>
                    <tr>
                        <th scope="col">
                            ID
                        </th>
                        <th scope="col">
                            Etat
                        </th>
                        <th>
                            Quantité
                        </th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var copy in Model.BookCopies)
                    {
                        <tr>
                            <td>@copy.Id</td>
                            <td>@copy.State</td>
                            <td>@copy.Quantity</td>
                            <td>
                                <a asp-page="UpdateBookCopy" asp-route-id="@copy.Id" class="btn btn-success btn-sm text-white">Edit</a>
                                <button asp-page-handler="DeleteCopy" asp-route-id="@copy.Id" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure ?')">Delete</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>

    <div class="row">
        <div asp-validation-summary="All" class="text-danger"></div>
    </div>
    <div class="form-group">
        <input type="submit" value="Valider" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Retour</a>
</div>

<div class="modal fade" role="dialog" id="categoryInput" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="categoryForm" autocomplete="off" novalidate="novalidate">
                <div class="modal-header">
                    <h4 class="modal-title">Categorie</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Nom</label>
                        <input type="text" maxlength="50" class="form-control" id="categoryName" />
                        <span class="text-danger field-validation-valid" id="categoryNameValidation"></span>
                    </div>
                    <input id="categoryId" hidden />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="closeModal();">Fermer</button> &nbsp;
                    <button type="button" id="btnSubmitCategory" class="btn btn-success" onclick="submitCategoryForm();">Créer</button>
                    <button type="button" id="btnDeleteCategory" class="btn btn-danger" onclick="deleteCategory();">Supprimer</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/notify.min.js"></script>
<script src="~/js/bookCategoryScript.js"></script>

<script>
    $(document).ready(function () {
        setTimeout(function () {
                $('#categoriesOptions option[value="@Model.Book.CategoryId"]').prop('selected', true);
            }, 2);
    })
</script>